:root {
  --primary-color: #36b3bd;
  --secondary-color: #000;
  --accent-color: #f2f2f2;
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "poppins", serif;
  --handwrite-font-family: "Nanum Pen Script", cursive;
  --signature-font-family: "Monsieur La Doulaise", cursive;
}

body {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
i {
  text-align: center;
}
h1 {
  font-family: var(--heading-font-family);
}
h2 {
  font-family: var(--heading-font-family);
}
h3 {
  font-family: var(--heading-font-family);
  margin: 30px;
}

i {
  color: var(--primary-color);
  font-size: 50px;
  padding: 20px;
}

p {
  text-align: center;
  font-size: 24px;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 25px auto;
}
ul {
  list-style: none;
}
li {
  opacity: 80%;
  margin: 20px;
}
footer {
  font-size: 10px;
  margin: 0 25px 5px 0;
  text-align: right;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: ease-in-out 200ms;
}
a:hover {
  color: var(--secondary-color);
}
footer a:hover {
  color: var(--secondary-color);
  opacity: 50%;
  cursor: pointer;
  transition: 200ms;
}
.carousel {
  display: block;
  margin: 100px 200px;
}
.navbar {
  max-width: 100%;
}
.navbar-toggler-icon {
  color: #fff !important;
}
.logo,
.nav-link,
.navbar-dark {
  color: white;
  text-align: right;
  padding: 5px 10px;
}
.logo {
  font-size: 16px;
  text-align: left;
  display: inline-block;
}
.logo i {
  font-size: 15px;
  margin-right: -7px;
}
.active {
  color: var(--primary-color) !important;
  line-height: 1.5;
}
.active:hover {
  color: var(--secondary-color) !important;
  cursor: pointer;
  transform: ease-in-out 200ms;
}
.nav-link:hover {
  color: var(--primary-color) !important;
  opacity: 70%;
  cursor: pointer;
  transform: ease-in-out 200ms;
}
.hero {
  margin-top: 100px;
}
.homepage-heading {
  color: var(--primary-color);
  background: var(--accent-color);
  padding: 200px 200px;
}
.homepage-heading h2 {
  font-size: 32px;
}
.homepage-heading h1 {
  font-size: 50px;
  line-height: 1.5;
}

.homepage-headshot {
  margin: 0 auto;
  background: transparent;
  border-radius: 7px;
}
.homepage-caption {
  font-size: 20px;
  margin: 50px 50px 0 50px;
}
.homepage-interest-section ul {
  font-family: var(--body-font-family);
  line-height: 1.5;
  font-size: 16px;
  margin: 0 10px;
}
.homepage-hobbies {
  background: var(--accent-color);
}
.homepage-likes,
.homepage-dislikes {
  margin: 0 auto;
}
.homepage-dislikes {
  border: 1px solid var(--secondary-color);
}
.homepage-likes {
  background: var(--secondary-color);
  color: #fff;
}
.about-heading {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 100px 50px;
  margin: 83px 550px;
  font-size: 75px;
}
.about-subheadings {
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: bold;
  margin: 100px 0 35px;
}
.about-icon {
  text-align: center;
  font-size: 15px !important;
}
.about-section,
.signature-signoff {
  font-family: var(--heading-font-family);
  font-size: 18px;
  padding: 5px 10px;
  margin: 25px 200px 100px 200px;
  text-align: justify;
}

.signature-signoff {
  text-align: center;
}

.signature {
  font-family: var(--signature-font-family);
  font-size: 60px;
  margin-top: -120px;
  padding-left: 150px;
}

.gallery-caption {
  font-family: var(--handwrite-font-family);
  font-size: 36px;
  color: var(--primary-color);
}
.gallery img {
  width: 200px;
  height: auto;
}

.gallery-body {
  background-color: var(--accent-color);
}

.gallery-heading {
  background-color: #fff;
  color: var(--primary-color);
  padding: 50px 0;
}

.thehuman-container {
  margin: 50px 25px 0;
}
.thehuman-h3 {
  margin: 30px -10px 20px;
  font-size: 18px;
}
.thehuman-h1 {
  margin: 20px auto;
}
.thehuman-h2 {
  font-size: 18px;
  margin-bottom: 30px;
}
.thehuman-img {
  max-width: 500px;
  border-radius: 7px;
}
.thehuman-section {
  font-family: var(--body-font-family);
  opacity: 70%;
  font-size: 12px;
  margin-top: 40px;
}
.thehuman-intro {
  background-color: white;
  padding: 0 25px;
  margin: 90px 0 40px;
}
.thehuman-btn {
  margin: 10px auto;
  display: block;
  padding: 5px;
  background-color: #fff;
  border: 1px solid var(--primary-color);
}
.thehuman-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  transition: 200ms ease-in-out;
}
.thehuman-btn a:hover {
  color: var(--secondary-color);
}
.bg-secondarycolor {
  background-color: #e1e2e3;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.contact-diesel {
  text-align: left !important;
}
.social-toast {
  padding: 1px 12px;
  margin: 100px;
  border-radius: 7px;
}
.cat-sm {
  font-size: 20px;
  background-color: var(--accent-color);
  border-radius: 100%;
  text-align: left;
}
.h1-contact {
  margin: 100px auto;
}
.social-contactlaura {
  text-align: left !important;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.5;
}
.social-contactlaura a:hover {
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 7px;
}
.text-sm-right {
  text-align: right !important;
  padding: 10px 20px;
}
.contact-diesel-signoff {
  font-size: 16px;
  text-align: right !important;
  color: var(--secondary-color);
  opacity: 70%;
  font-weight: 800px;
  letter-spacing: 1.5px;
}
.coder-social {
  font-size: 20px;
  line-height: 1px;
  margin: 0 -20px;
}
.coder-social:hover {
  cursor: pointer;
  color: var(--secondary-color);
  transition: ease-in-out 200ms;
}
@media (min-width: 1500px) {
  .thehuman-container {
    display: block;
    margin: 50px auto;
  }
}

@media (min-width: 1000px) {
  .homepage-heading {
    padding: 50px;
    margin: 0 auto;
  }
  .homepage-interest-section {
    text-align: center;
    margin: 75px;
  }
  .carousel {
    margin: 100px 600px;
  }
  .carousel img {
    margin: 10px auto;
  }
  .gallery-diesel-main {
    padding: 10px 10px 30px;
    max-width: 300px;
  }
  .about-heading {
    padding: 100px 200px;
    text-align: center;
    margin: 50px 200px;
    display: block;
  }
}
@media (max-width: 1875px) {
  .carousel {
    margin: 100px 300px;
  }
  .thehuman-container {
    display: block;
    margin: 50px auto;
  }
}
@media (max-width: 992px) {
  .homepage-body {
    margin: 75px;
    display: block;
  }
  .homepage-heading {
    padding: 50px;
    margin: 0 auto;
  }
  .homepage-heading h2 {
    font-size: 16px;
  }
  .homepage-heading h1 {
    font-size: 30px;
  }

  .thehuman-section {
    margin-bottom: -20px;
  }
  .thehuman-intro {
    padding: 25px 25px 20px 50px;
    margin: -20px 0 0;
  }
  img {
    border: var(--primary-color);
    margin: 10px auto;
    display: block;
  }

  .about-heading {
    margin: 100px 150px;
  }
  .homepage-caption {
    font-size: 16px;
  }
  .carousel {
    margin: 75px 200px;
  }
  .gallery-caption {
    font-size: 20px;
  }
  .thehuman-btn {
    margin: 50px 0 -25px;
  }
}
@media (max-width: 767px) {
  p {
    display: block;
    margin: 30px 5px -20px 20px;
    font-size: 20px;
  }
  i {
    font-size: 36px;
  }
  footer {
    font-size: 7px;
  }
  .homepage-container {
    margin: 25px 10px;
  }
  .homepage-heading {
    margin: -50px 5px 40px 5px;
    padding: 20px;
  }
  .about-heading {
    padding: 50px;
    margin: 40px 70px 0;
    font-size: 50px;
  }
  .about-subheadings {
    text-align: center;
    font-size: 20px;
  }
  .about-section {
    text-align: center;
    margin: 25px;
    font-size: 16px;
  }
  .about-icon {
    font-size: 24px !important;
    margin: 0 auto;
  }
  .signature-signoff {
    margin: 0 auto;
    font-size: 16px;
  }
  .signature {
    font-size: 40px;
    margin: -40px 75px 50px 0;
  }

  .gallery-body {
    max-width: fit-content;
    padding: 25px;
    display: block;
    margin: 25px auto;
  }
  .gallery-caption {
    padding-bottom: 22px;
  }
  .carousel {
    margin: 50px 10px;
  }
  .thehuman-h3 {
    margin: -10px auto;
    font-size: 18px;
  }
  .thehuman-h2 {
    margin-top: -10px;
    font-size: 15px;
  }
  .thehuman-intro {
    background: transparent;
    display: block;
    margin: 0 auto;
  }
  .thehuman-img {
    display: block;
    margin: 0 auto;
    width: 85%;
  }
  .social-toast {
    margin: 25px;
    font-size: 10px;
  }
  .contact-diesel {
    font-size: 15px;
  }
  .social-post {
    font-size: 12px;
  }
  .contact-diesel-signoff {
    padding-bottom: 40px;
  }
}
